<h1 class="section-heading">Order Details</h1>
<hr>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-sm-9 col-md-9">
		<p>Name: <span id="info"> <%= current_order.name %></span></p>
		<p>Email: <span id="info"> <%= current_order.email %></span></p>
		<p>Address: <span id="info"> <%= current_order.address %></span></p>

		<%= render 'card_info', order: @last_order %>
	</div>
</div>