@import "bootstrap";
@import "font-awesome";
@import 'hover';

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
	border-color: #f05f40;
	border-width: 3px;
	max-width: 200px;
	&.light {
		border-color: white;
	}
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #f05f40;
	&:hover, &:focus {
		color: #eb3812;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.bg-primary {
	background-color: #f05f40;
}

.bg-dark {
	background-color: #222222;
	color: white;
}

.menu-bar {
  margin: auto;
  width: 50%;
  align-content: center;
    .hvr-float-shadow {
       box-shadow: 0 0 0px #f05f40;
    }
}

.menu-bar{
	width: 50%;
	margin: 40px auto 20px;
	background: rgba(255,255,255,0.8);
	height: 40px;
	li {
		min-width: 100px;
		text-align: center;
		a {
			display: block;
			color: #f05f40;
		}
		.section-active {
			border: solid 1px #f05f40;
			border-radius: 5%;
		}
		.hvr-float-shadow {
			 box-shadow: 0 0 0px #f05f40;
		}
	}
}

.center {
	margin: auto;
	width: 50%;
}

section {
	padding: 50px 0px;
}


.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	.navbar-header {
		.navbar-brand {
			color: #f05f40;
			font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			&:hover, &:focus {
				color: #eb3812;
			}
		}
		.navbar-toggle {
			font-weight: 700;
			font-size: 12px;
			color: #222222;
			text-transform: uppercase;
		}
	}
	.nav > li {
		> a {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 13px;
			color: #222222;
			&:focus {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				color: #222222;
			}
			&:hover, &:focus:hover {
				color: #f05f40;
			}
		}
		&.active > a {
			color: #f05f40 !important;
			background-color: transparent;
			&:focus {
				color: #f05f40 !important;
				background-color: transparent;
			}
			&:hover, &:focus:hover {
				background-color: transparent;
			}
		}
	}
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('header.jpg');
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		border-color: rgba(255, 255, 255, 0.3);
		.navbar-header .navbar-brand {
			color: rgba(255, 255, 255, 0.7);
			&:hover, &:focus {
				color: white;
			}
		}
		.nav > li > a {
			color: rgba(255, 255, 255, 0.7);
			&:focus {
				color: rgba(255, 255, 255, 0.7);
			}
			&:hover, &:focus:hover {
				color: white;
			}
		}
		&.affix {
			background-color: white;
			border-color: rgba(34, 34, 34, 0.05);
			.navbar-header .navbar-brand {
				color: #f05f40;
				font-size: 14px;
				&:hover, &:focus {
					color: #eb3812;
				}
			}
			.nav > li > a {
				color: #222222;
				&:focus {
					color: #222222;
				}
				&:hover, &:focus:hover {
					color: #f05f40;
				}
			}
		}
	}
}

.section-heading {
	margin-top: 0;
	padding: 30px 0;
	text-align: center;
}


@media (min-width: 768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
		.project-category {
			font-size: 16px;
		}
		.project-name {
			font-size: 22px;
		}
	}
}

.call-to-action h2 {
	margin: 0 auto 20px;
}

.text-primary {
	color: #f05f40;
}

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.btn-default .badge {
	color: #ffffff;
	background-color: #222222;
}

.btn-primary {
	color: #ffffff;
	background-color: #f05f40;
	border-color: #f05f40;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	&:hover, &:focus, &.focus, &:active, &.active {
		color: #ffffff;
		background-color: #ee4b28;
		border-color: #ed431f;
	}
}

.btn-primary {
	&:active, &.active {
		background-image: none;
	}
}

.open > .dropdown-toggle.btn-primary {
	background-image: none;
}

.btn-primary {
	&.disabled, &[disabled] {
		background-color: #f05f40;
		border-color: #f05f40;
	}
}

.btn-primary {
	&.disabled:hover, &[disabled]:hover {
		background-color: #f05f40;
		border-color: #f05f40;
	}
}

.btn-primary {
	&.disabled:focus, &[disabled]:focus {
		background-color: #f05f40;
		border-color: #f05f40;
	}
}

.btn-primary {
	&.disabled.focus, &[disabled].focus {
		background-color: #f05f40;
		border-color: #f05f40;
	}
}

.btn-primary .badge {
	color: #f05f40;
	background-color: #ffffff;
}

.btn {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: white;
	border-radius: 300px;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	border-radius: 300px;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
	color: white;
	border-radius: 300px;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	border-radius: 300px;
}

.btn-xl {
	padding: 15px 30px;
}

::-moz-selection, ::selection {
	color: white;
	text-shadow: none;
	background: #222222;
}

img {
	&::selection, &::-moz-selection {
		color: white;
		background: transparent;
	}
}

.order {
	.time {
		display: inline;
		float: left;
	}


	.form-inline {
		display: inline-block;
		float: left;
	}
}

#clearfix {
	clear: both;
}

.food_price {
		padding: 10px;
		display:inline;
		float: right;
		font-weight: 900;
		font-size: 30;
		color: #f05f40;
}
